/modules/aws/images/ec2utils.conf
/modules/aws/images/upload.sh
/modules/aws/images/openbare*.json

/local_workspaces

/terraform.tfstate*
/.terraform/
/main.tf
.terraform.tfstate.lock.info

/salt/virthost/*.qcow2

**/.*.sw*
.*.sw*

.idea