/modules/aws/images/ec2utils.conf
/modules/aws/images/upload.sh
/modules/aws/images/openbare*.json

/local_workspaces

/terraform.tfstate*
/.terraform/
/.terraform.d/
/main.tf
.terraform.tfstate.lock.info

/salt/virthost/*.qcow2

/modules/backend

**/.*.sw*
.*.sw*

.idea
backend_modules/azure/base/variables.tf
backend_modules/azure/host/variables.tf
