# QAM specific clients examples

module "cli-sles12sp4" {
  source = "./modules/libvirt/client"
  base_configuration = "${module.base.configuration}"
  product_version = "4.0-released"
  name = "cli-sles12sp4"
  image = "sles12sp4"
  memory = 1024

  server_configuration = "${module.server.configuration}"
  auto_register = false
  use_os_released_updates = true
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "cli-sles11sp4" {
  source = "./modules/libvirt/client"
  base_configuration = "${module.base.configuration}"
  product_version = "4.0-released"
  name = "cli-sles11sp4"
  image = "sles11sp4"
  memory = 1024

  server_configuration = "${module.server.configuration}"
  auto_register = false
  use_os_released_updates = true
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "cli-sles15" {
  source = "./modules/libvirt/client"
  base_configuration = "${module.base.configuration}"
  product_version = "4.0-released"
  name = "cli-sles15"
  image = "sles15"
  memory = 1024

  server_configuration = "${module.server.configuration}"
  auto_register = false
  use_os_released_updates = true
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "cli-sles15sp1" {
  source = "./modules/libvirt/client"
  base_configuration = "${module.base.configuration}"
  product_version = "4.0-released"
  name = "cli-sles15sp1"
  image = "sles15sp1"
  memory = 1024

  server_configuration = "${module.server.configuration}"
  auto_register = false
  use_os_released_updates = true
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "cli-centos7" {
  source = "./modules/libvirt/client"
  base_configuration = "${module.base.configuration}"
  product_version = "4.0-released"
  name = "cli-centos7"
  image = "centos7"
  memory = 1024

  server_configuration = "${module.server.configuration}"
  auto_register = false
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "min-sles12sp4" {
  source = "./modules/libvirt/minion"
  base_configuration = "${module.base.configuration}"
  product_version = "4.0-released"
  name = "min-sles12sp4"
  image = "sles12sp4"
  memory = 1024

  server_configuration = "${module.server.configuration}"
  auto_connect_to_master = false
  use_os_released_updates = true
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "min-sles11sp4" {
  source = "./modules/libvirt/minion"
  base_configuration = "${module.base.configuration}"
  product_version = "4.0-released"
  name = "min-sles11sp4"
  image = "sles11sp4"
  memory = 1024

  server_configuration = "${module.server.configuration}"
  auto_connect_to_master = false
  use_os_released_updates = true
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "min-sles15" {
  source = "./modules/libvirt/minion"
  base_configuration = "${module.base.configuration}"
  product_version = "4.0-released"
  name = "min-sles15"
  image = "sles15"
  memory = 1024
  server_configuration = "${module.server.configuration}"
  auto_connect_to_master = false
  use_os_released_updates = true
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "min-sles15sp1" {
  source = "./modules/libvirt/minion"
  base_configuration = "${module.base.configuration}"
  product_version = "4.0-released"
  name = "min-sles15sp1"
  image = "sles15sp1"
  memory = 1024
  server_configuration = "${module.server.configuration}"
  auto_connect_to_master = false
  use_os_released_updates = true
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "min-centos7" {
  source = "./modules/libvirt/minion"
  base_configuration = "${module.base.configuration}"
  product_version = "4.0-released"
  name = "min-centos7"
  image = "centos7"
  memory = 1024
  server_configuration = "${module.server.configuration}"
  auto_connect_to_master = false
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "min-centos6" {
  source = "./modules/libvirt/minion"
  base_configuration = "${module.base.configuration}"
  product_version = "4.0-released"
  name = "min-centos6"
  image = "centos6"
  memory = 1024
  server_configuration = "${module.server.configuration}"
  auto_connect_to_master = false
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "minssh-sles12sp4" {
  source = "./modules/libvirt/host"
  base_configuration = "${module.base.configuration}"
  mac = "56:D7:9B:38:05:B3"
  name = "minssh-sles12sp4"
  image = "sles12sp4"
  memory = 1024
  ssh_key_path = "./salt/controller/id_rsa.pub"
  gpg_keys = ["default/gpg_keys/galaxy.key"]
  // see modules/libvirt/client/variables.tf for possible values
}

module "minssh-sles11sp4" {
  source = "./modules/libvirt/host"
  base_configuration = "${module.base.configuration}"
  name = "minssh-sles11sp4"
  image = "sles11sp4"
  memory = 1024
  use_os_released_updates = true
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "minssh-sles15" {
  source = "./modules/libvirt/host"
  base_configuration = "${module.base.configuration}"
  name = "minssh-sles15"
  image = "sles15"
  memory = 1024
  use_os_released_updates = true
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "minssh-sles15sp1" {
  source = "./modules/libvirt/host"
  base_configuration = "${module.base.configuration}"
  name = "minssh-sles15sp1"
  image = "sles15sp1"
  memory = 1024
  use_os_released_updates = true
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "minssh-centos7" {
  source = "./modules/libvirt/host"
  base_configuration = "${module.base.configuration}"
  name = "minssh-centos7"
  image = "centos7"
  memory = 1024
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "minssh-centos6" {
  source = "./modules/libvirt/host"
  base_configuration = "${module.base.configuration}"
  name = "minssh-centos6"
  image = "centos6"
  memory = 1024
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "minssh-ubuntu1804" {
  source = "./modules/libvirt/host"
  base_configuration = "${module.base.configuration}"
  name = "minssh-ubuntu1804"
  image = "ubuntu1804"
  memory = 1024
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

module "minssh-ubuntu1604" {
  source = "./modules/libvirt/host"
  base_configuration = "${module.base.configuration}"
  name = "minssh-ubuntu1604"
  image = "ubuntu1604"
  memory = 1024
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // see modules/libvirt/client/variables.tf for possible values
}

