variable "cc_username" {
  description = "SCC or NCC username"
  default = "UC7"
}

variable "cc_password" {
  description = "SCC or NCC password"
  default = ... // add password here
}

module "sumaheadpg" {
  source = "./modules/openstack/host"
  name = "sumaheadpg"
  image = "sumaform-sles12sp3"
  version = "head"
  database = "postgres"
  role = "suse_manager_server"
  cc_username = "${var.cc_username}"
  cc_password = "${var.cc_password}"
}
