terraform {
 required_version = "1.0.10"
 required_providers {
   libvirt = {
     source = "dmacvicar/libvirt"
     version = "0.6.14"
   }
 }
}

provider "libvirt" {
  uri = "qemu:///system"
}

module "base" {
  source = "./modules/base"

  cc_username = "UC7"
  cc_password = ...

  // optional parameters with defaults below
  // use_avahi = true
  // name_prefix = "" // if you use name_prefix, make sure to update the server_configuration for clients/minions below
  // timezone = "Europe/Berlin"
  // use_ntp = true

  // provider specific properties
//  provider_settings = {
//    bridge = null
//    pool = "default"
//    network_name = "default" // change to "" if you change bridge below
//    additional_network = null
//  }

  // Required images
  images = ["centos7", "opensuse153o", "ubuntu1804"]
}

module "server" {
  source = "./modules/server"
  base_configuration = module.base.configuration
  product_version = "uyuni-master"
  name = "srv"
  image = "opensuse153o"
  use_os_released_updates = true
  // see modules/server/variables.tf for possible values

  provider_settings = {
    memory = 8192
    vcpu = 4
  }
  // connect_to_additional_network = true
  // if you want to use two networks
}

module "redhat-minion" {
  source = "./modules/minion"
  base_configuration = module.base.configuration
  product_version = "uyuni-master"
  name = "min-centos7"
  image = "centos7"
  server_configuration = module.server.configuration
  provider_settings = {
    memory = 1024
  }
  // see modules/minion/variables.tf for possible values
}

module "debian-minion" {
  source = "./modules/minion"
  base_configuration = module.base.configuration
  product_version = "uyuni-master"
  name = "min-ubuntu1804"
  image = "ubuntu1804"
  server_configuration = module.server.configuration
  provider_settings = {
    memory = 1024
  }
  // see modules/minion/variables.tf for possible values
}

module "kvm-host" {
  source = "./modules/virthost"
  base_configuration = module.base.configuration
  product_version = "uyuni-master"
  name = "min-kvm"
  image = "opensuse153o"
  server_configuration = module.server.configuration
  // see modules/virthost/variables.tf for possible values
}

module "xen-host" {
  source = "./modules/virthost"
  base_configuration = module.base.configuration
  product_version = "uyuni-master"
  name = "min-xen"
  image = "opensuse153o"
  server_configuration = module.server.configuration
  // see modules/virthost/variables.tf for possible values
}
