provider "libvirt" {
  uri = "qemu:///system"
}

module "base" {
  source = "./modules/base"

  cc_username = "UC7"
  cc_password = ...

  // optional parameters with defaults below
  // use_avahi = true
  // name_prefix = "" // if you use name_prefix, make sure to update the server_configuration for clients/minions below
  // timezone = "Europe/Berlin"
  // use_ntp = true

//  provider_settings = {
//    network_name = "default" // change to null if you add a bridge below
//    additional_network = null
//    bridge = null
//    pool = "default"
//  }
}

module "server" {
  source = "./modules/server"
  base_configuration = module.base.configuration

  name = "server"
  product_version = "3.2-nightly"
  // see modules/server/variables.tf for possible values

  // connect_to_additional_network = true
  // if you want to use two networks
}

module "client" {
  source = "./modules/client"
  base_configuration = module.base.configuration

  name = "client"
  image = "sles12sp3"
  server_configuration = module.server.configuration
  // see modules/client/variables.tf for possible values
}

module "minion" {
  source = "./modules/minion"
  base_configuration = module.base.configuration

  name = "minion"
  image = "sles12sp3"
  server_configuration = module.server.configuration
  // see modules/minion/variables.tf for possible values
}
