provider "libvirt" {
  uri = "qemu:///system"
}

module "base" {
  source = "./modules/libvirt/base"
  cc_username = "UC7"
  cc_password = ...
  testsuite = true
  // optional parameters with defaults below
  // pool = "default"
  // network_name = "default" // change to "" if you change bridge below
  // bridge = ""
  // name_prefix = ""
}

module "ctl" {
  source = "./modules/libvirt/controller"
  base_configuration = "${module.base.configuration}"
  name = "ctl"
  server_configuration = "${module.srv.configuration}"
  client_configuration = "${module.cli-sles12sp3.configuration}"
  minion_configuration = "${module.min-sles12sp3.configuration}"
  centos_configuration = "${module.min-centos7.configuration}"         // optional
  minionssh_configuration = "${module.minssh-sles12sp3.configuration}" // optional
  branch = "default"
  // credentials available in https://gitlab.suse.de/galaxy/sumaform-test-runner/blob/master/31/main-full.tf
  git_username = ...
  git_password = ...
}

module "srv" {
  source = "./modules/libvirt/suse_manager"
  base_configuration = "${module.base.configuration}"
  version = "3.1-nightly"
  name = "srv"
  image = "sles12sp3"
  for_development_only = false
  auto_accept = false
  disable_firewall = false
  allow_postgres_connections = false
  java_debugging = false
  skip_changelog_import = false
  browser_side_less = false
  ssh_key_path = "./salt/controller/id_rsa.pub"
}

module "cli-sles12sp3" {
  source = "./modules/libvirt/client"
  base_configuration = "${module.base.configuration}"
  version = "3.1-nightly"
  name = "cli-sles12sp3"
  image = "sles12sp3"
  server_configuration = { hostname = "srv.tf.local" }
  auto_register = false
  ssh_key_path = "./salt/controller/id_rsa.pub"
}

module "min-sles12sp3" {
  source = "./modules/libvirt/minion"
  base_configuration = "${module.base.configuration}"
  version = "3.1-nightly"
  name = "min-sles12sp3"
  image = "sles12sp3"
  server_configuration = { hostname = "srv.tf.local" }
  auto_connect_to_master = false
  ssh_key_path = "./salt/controller/id_rsa.pub"
}

# optional
module "minssh-sles12sp3" {
  source = "./modules/libvirt/host"
  base_configuration = "${module.base.configuration}"
  name = "minssh-sles12sp3"
  image = "sles12sp3"
  ssh_key_path = "./salt/controller/id_rsa.pub"
  gpg_keys = ["default/gpg_keys/galaxy.key"]
}

# optional
module "min-centos7" {
  source = "./modules/libvirt/minion"
  base_configuration = "${module.base.configuration}"
  version = "3.1-nightly"
  name = "min-centos7"
  image = "centos7"
  server_configuration = { hostname = "srv.tf.local" }
  auto_connect_to_master = false
  ssh_key_path = "./salt/controller/id_rsa.pub"
}
