variable "cc_username" {
  description = "SCC or NCC username"
  default = "UC7"
}

variable "cc_password" {
  description = "SCC or NCC password"
  default = // add password here
}

module "suma21pg" {
  source = "./modules/openstack/host"
  name = "suma21pg"
  image = "sumaform-sles11sp3"
  version = "2.1-nightly"
  database = "postgres"
  role = "suse-manager-server"
  cc_username = "${var.cc_username}"
  cc_password = "${var.cc_password}"
}

module "suma21spg" {
  source = "./modules/openstack/host"
  name = "suma21spg"
  image = "sumaform-sles11sp3"
  version = "2.1-stable"
  database = "postgres"
  role = "suse-manager-server"
  cc_username = "${var.cc_username}"
  cc_password = "${var.cc_password}"
}

module "suma21ora" {
  source = "./modules/openstack/host"
  name = "suma21ora"
  image = "sumaform-sles11sp3"
  version = "2.1-nightly"
  database = "oracle"
  role = "suse-manager-server"
  cc_username = "${var.cc_username}"
  cc_password = "${var.cc_password}"
}

module "suma21sora" {
  source = "./modules/openstack/host"
  name = "suma21sora"
  image = "sumaform-sles11sp3"
  version = "2.1-stable"
  database = "oracle"
  role = "suse-manager-server"
}

module "suma3pg" {
  source = "./modules/openstack/host"
  name = "suma3pg"
  image = "sumaform-sles12sp1"
  version = "3-nightly"
  database = "postgres"
  role = "suse-manager-server"
  cc_username = "${var.cc_username}"
  cc_password = "${var.cc_password}"
}

module "suma3pgpool" {
  source = "./modules/openstack/host"
  name = "suma3pgpool"
  image = "sumaform-sles12sp1"
  version = "3-nightly"
  database = "pgpool"
  role = "suse-manager-server"
  cc_username = "${var.cc_username}"
  cc_password = "${var.cc_password}"
}

module "suma3spg" {
  source = "./modules/openstack/host"
  name = "suma3spg"
  image = "sumaform-sles12sp1"
  version = "3-stable"
  database = "postgres"
  role = "suse-manager-server"
  cc_username = "${var.cc_username}"
  cc_password = "${var.cc_password}"
}

module "sumaheadpg" {
  source = "./modules/openstack/host"
  name = "sumaheadpg"
  image = "sumaform-sles12sp1"
  version = "head"
  database = "postgres"
  role = "suse-manager-server"
  cc_username = "${var.cc_username}"
  cc_password = "${var.cc_password}"
}

module "clisles11sp3" {
  source = "./modules/openstack/host"
  name = "clisles11sp3"
  image = "sumaform-sles11sp3"
  server = "${module.suma21pg.hostname}"
  count = 1
  role = "client"
}

module "clisles11sp4" {
  source = "./modules/openstack/host"
  name = "clisles11sp4"
  image = "sumaform-sles11sp4"
  server = "${module.suma21pg.hostname}"
  count = 1
  role = "client"
}

module "clisles12" {
  source = "./modules/openstack/host"
  name = "clisles12"
  image = "sumaform-sles12"
  server = "${module.suma21pg.hostname}"
  count = 1
  role = "client"
}

module "clisles12sp1" {
  source = "./modules/openstack/host"
  name = "clisles12sp1"
  image = "sumaform-sles12sp1"
  server = "${module.suma21pg.hostname}"
  count = 1
  role = "client"
}

module "pg1" {
  source = "./modules/openstack/host"
  name = "pg1"
  image = "sumaform-sles12sp1"
  role = "postgres"
}

module "pg2" {
  source = "./modules/openstack/host"
  name = "pg2"
  image = "sumaform-sles12sp1"
  role = "postgres"
}

module "minionsles12" {
  source = "./modules/openstack/host"
  name = "minionsles12"
  image = "sumaform-sles12"
  server = "${module.suma3pg.hostname}"
  count = 1
  role = "minion"
}

module "minionsles12sp1" {
  source = "./modules/openstack/host"
  name = "minionsles12sp1"
  image = "sumaform-sles12sp1"
  server = "${module.suma3pg.hostname}"
  count = 1
  role = "minion"
}

// Proxy

module "proxy21s" {
  source = "./modules/openstack/host"
  name = "proxy21s"
  image = "sumaform-sles11sp3"
  server = "${module.suma21spg.hostname}"
  role = "suse-manager-proxy"
  version = "2.1-stable"
}

module "proxy21" {
  source = "./modules/libvirt/host"
  name = "proxy21"
  image = "sumaform-sles11sp3"
  server = "${module.suma21pg.hostname}"
  role = "suse-manager-proxy"
  version = "2.1-nightly"
}

module "proxy3s" {
  source = "./modules/libvirt/host"
  name = "proxy3s"
  image = "sumaform-sles12sp1"
  server = "${module.suma3spg.hostname}"
  role = "suse-manager-proxy"
  version = "3-stable"
}

module "proxy3" {
  source = "./modules/libvirt/host"
  name = "proxy3"
  image = "sumaform-sles12sp1"
  server = "${module.suma3pg.hostname}"
  role = "suse-manager-proxy"
  version = "3-nightly"
}

module "proxyhead" {
  source = "./modules/libvirt/host"
  name = "proxyhead"
  image = "sumaform-sles12sp1"
  server = "${module.sumaheadpg.hostname}"
  role = "suse-manager-proxy"
  version = "head"
}


// Inter-Server Sync (ISS)

module "suma21pgmaster" {
  source = "./modules/openstack/host"
  name = "suma21pgmaster"
  image = "sumaform-sles11sp3"
  version = "2.1-stable"
  database = "postgres"
  role = "suse-manager-server"
  cc_username = "${var.cc_username}"
  cc_password = "${var.cc_password}"
  iss-slave = "suma21pgslave.tf.local"
}

module "suma21pgslave" {
  source = "./modules/openstack/host"
  name = "suma21pgslave"
  image = "sumaform-sles11sp3"
  version = "2.1-stable"
  database = "postgres"
  role = "suse-manager-server"
  cc_username = "${var.cc_username}"
  cc_password = "${var.cc_password}"
  iss-master = "${module.suma21pgmaster.hostname}"
}
