provider "libvirt" {
  uri = "qemu:///system"
}

module "base" {
  source = "./modules/libvirt/base"

  cc_username = "UC7"
  cc_password = ...
  testsuite = true

  // optional parameters with defaults below
  // pool = "default"
  // network_name = "default" // change to "" if you change bridge below
  // bridge = ""
  // use_avahi = true
  // additional_network = ""
  // name_prefix = "" // if you use name_prefix, make sure to update the server_configuration for clients/minions below
  // timezone = "Europe/Berlin"
}

module "ctl" {
  source = "./modules/libvirt/controller"
  base_configuration = "${module.base.configuration}"
  name = "ctl"
  server_configuration = "${module.srv.configuration}"
  client_configuration = "${module.cli-sles12sp3.configuration}"
  minion_configuration = "${module.min-sles12sp3.configuration}"
  centos_configuration = "${module.min-centos7.configuration}"         // optional
  ubuntu_configuration = "${module.min-ubuntu.configuration}"          // optional
  minionssh_configuration = "${module.minssh-sles12sp3.configuration}" // optional
  pxeboot_configuration = "${module.pxeboot-sles12sp3.configuration}"  // optional
  kvmhost_configuration = "${module.min-kvm.configuration}"            // optional
  branch = "default"
  // credentials available in https://gitlab.suse.de/galaxy/sumaform-test-runner/blob/master/head/main-full.tf
  git_username = ...
  git_password = ...
  git_repo = "default"
  // git_profiles_repo = ... // uncomment to use alternative Docker and Kiwi profiles
}

module "srv" {
  source = "./modules/libvirt/suse_manager"
  base_configuration = "${module.base.configuration}"
  product_version = "3.2-nightly"
  name = "srv"
  image = "sles12sp3"
  auto_accept = false
  disable_firewall = false
  allow_postgres_connections = false
  skip_changelog_import = false
  browser_side_less = false
  create_first_user = false
  mgr_sync_autologin = false
  create_sample_channel = false
  create_sample_activation_key = false
  create_sample_bootstrap_script = false
  publish_private_ssl_key = false
  ssh_key_path = "./salt/controller/id_rsa.pub"
}

module "cli-sles12sp3" {
  source = "./modules/libvirt/client"
  base_configuration = "${module.base.configuration}"
  product_version = "3.2-nightly"
  name = "cli-sles12sp3"
  image = "sles12sp3"
  server_configuration = { hostname = "srv.tf.local" } // make sure to prepend the name_prefix, if used
  auto_register = false
  ssh_key_path = "./salt/controller/id_rsa.pub"
}

module "min-sles12sp3" {
  source = "./modules/libvirt/minion"
  base_configuration = "${module.base.configuration}"
  product_version = "3.2-nightly"
  name = "min-sles12sp3"
  image = "sles12sp3"
  server_configuration = { hostname = "srv.tf.local" } // make sure to prepend the name_prefix, if used
  auto_connect_to_master = false
  ssh_key_path = "./salt/controller/id_rsa.pub"
  // avahi_reflector = true  // uncomment if you kept Avahi enabled, and use Docker containers on the minion
}

# optional
module "minssh-sles12sp3" {
  source = "./modules/libvirt/host"
  base_configuration = "${module.base.configuration}"
  name = "minssh-sles12sp3"
  image = "sles12sp3"
  ssh_key_path = "./salt/controller/id_rsa.pub"
  gpg_keys = ["default/gpg_keys/galaxy.key"]
}

# optional
module "min-centos7" {
  source = "./modules/libvirt/minion"
  base_configuration = "${module.base.configuration}"
  product_version = "3.2-nightly"
  name = "min-centos7"
  image = "centos7"
  server_configuration = { hostname = "srv.tf.local" } // make sure to prepend the name_prefix, if used
  auto_connect_to_master = false
  ssh_key_path = "./salt/controller/id_rsa.pub"
}

# optional
module "min-ubuntu" {
  source = "./modules/libvirt/minion"
  base_configuration = "${module.base.configuration}"
  product_version = "3.2-nightly"
  name = "min-ubuntu"
  image = "ubuntu1804"
  server_configuration =  { hostname = "srv.tf.local" } // make sure to prepend the name_prefix, if used
  auto_connect_to_master = false
  ssh_key_path = "./salt/controller/id_rsa.pub"
}

# optional
module "pxeboot-sles12sp3"
{
  source = "./modules/libvirt/pxe_boot"
  base_configuration = "${module.base.configuration}"
  name = "pxeboot-sles12sp3"
  image = "sles12sp3"
}

# optional
module "min-kvm"
{
  source = "./modules/libvirt/virthost"
  base_configuration = "${module.base.configuration}"
  name = "min-kvm"
  image = "sles15sp1"
  ssh_key_path = "./salt/controller/id_rsa.pub"
  server_configuration = { hostname = "srv.tf.local" } // make sure to prepend the name_prefix, if used
  auto_connect_to_master = false
}
