provider "openstack" {
  version = "= 1.9.0"

  user_name   = ...
  password    = ...

  // below are valid values to target the SUSE internal "ECP" Cloud
  // for the SUSE Manager project. Adapt as needed
  auth_url    = "https://engcloud.prv.suse.net:5000/v3"
  domain_name = "ldap_users"
  tenant_id   = "609ad0b07a414b40bd4884768bf6ac89"
}

module "base" {
  source = "./modules/openstack/base"

  cc_username = "UC7"
  cc_password = ...

  // optional parameters with defaults below
  // name_prefix = ""
  // timezone = "Europe/Berlin"

  // comment-out the following two lines if you are not targeting the SUSE internal "ECP" Cloud
  mirror = "mirror.tf.local"
  use_shared_resources = true
}

module "server" {
  source = "./modules/openstack/suse_manager"
  base_configuration = "${module.base.configuration}"

  name = "server"
  product_version = "3.1-nightly"
  // see modules/openstack/suse_manager/variables.tf for possible values
}

module "client" {
  source = "./modules/openstack/client"
  base_configuration = "${module.base.configuration}"

  name = "client"
  image = "sles12sp3"
  server_configuration = "${module.server.configuration}"
  count = 1
  // see modules/openstack/client/variables.tf for possible values
}

module "minion" {
  source = "./modules/openstack/minion"
  base_configuration = "${module.base.configuration}"

  name = "minion"
  image = "sles12sp3"
  server_configuration = "${module.server.configuration}"
  count = 1
  // see modules/openstack/minion/variables.tf for possible values
}
