locals {
    region            = ...
    availability_zone = ...
    key_file          = ...
    key_name          = ...
}

provider "aws" {
  region     = local.region
  access_key = ...
  secret_key = ...
}

module "cucumber_testsuite" {
  source = "./modules/cucumber_testsuite"

  product_version = "uyuni-master"
  branch          = "master"

  cc_username = ...
  cc_password = ...

  images = ["opensuse150", "opensuse151"]

  name_prefix  = ...
  git_repo     = "https://github.com/uyuni-project/uyuni.git"
  git_username = ...
  git_password = ...

  host_settings = {
    controller = {}
    server = {}
    proxy = {}
    suse-client = {
      image = "opensuse151"
      name = "cli-opensuse151"
    }
    suse-minion = {
      image = "opensuse151"
      name = "min-opensuse151"
    }
    suse-sshminion = {
      image = "opensuse151"
      name = "minssh-opensuse151"
    }
  }

  provider_settings = {
    availability_zone = local.availability_zone
    region            = local.region
    ssh_allowed_ips   = [""]
    key_name          = local.key_name
    key_file          = local.key_file
  }
}

output "key_file" {
  value = local.key_file
}
//output "bastion_public_name" {
//  value = module.cucumber_testsuite.configuration.base.bastion_host
//}

output "aws_server_private_name" {
  value = module.cucumber_testsuite.configuration.server.hostname
}

output "aws_proxy_private_name" {
  value = module.cucumber_testsuite.configuration.proxy.hostname
}

output "aws_suse-minion_private_names" {
  value = module.cucumber_testsuite.configuration.suse-minion.hostnames
}

output "aws_suse-client_private_names" {
  value = module.cucumber_testsuite.configuration.suse-client.hostnames
}

output "aws_suse-sshminion_private_names" {
  value = module.cucumber_testsuite.configuration.suse-sshminion.hostnames
}

output "aws_redhat-minion_private_names" {
  value = module.cucumber_testsuite.configuration.redhat-minion.hostnames
}

output "aws_debian-minion_private_names" {
  value = module.cucumber_testsuite.configuration.debian-minion.hostnames
}

output "aws_controller_private_name" {
  value = module.cucumber_testsuite.configuration.controller.hostname
}
