## Cluster Assignment
cluster-ceph/cluster/*.sls

## Roles
# ADMIN
role-master/cluster/mdsuma*.sls
role-admin/cluster/mdsuma*.sls

# MON
role-mon/stack/default/ceph/minions/mdminsles*.yml
role-mon/cluster/mdminsles*.sls

# MGR (mgrs are usually colocated with mons)
role-mgr/cluster/mdminsles*.sls

# MDS
role-mds/cluster/mdm*[12]*.sls

# IGW
#role-igw/stack/default/ceph/minions/igw*.yml
#role-igw/cluster/igw*.sls

# RGW
#role-rgw/cluster/rgw*.sls

# openATTIC
#role-openattic/cluster/openattic*.sls

# COMMON
config/stack/default/global.yml
config/stack/default/ceph/cluster.yml

## Profiles
profile-default/cluster/*.sls
profile-default/stack/default/ceph/minions/*.yml
