{% set map = {
    'Debian': {
        'path_localtime': '/etc/localtime',
        'path_zoneinfo': '/usr/share/zoneinfo/',
        'pkgname': 'tzdata',
    },
    'RedHat': {
        'path_localtime': '/etc/localtime',
        'path_zoneinfo': '/usr/share/zoneinfo/',
        'pkgname': 'tzdata',
    },
    'Suse': {
        'path_localtime': '/etc/localtime',
        'path_zoneinfo': '/usr/share/zoneinfo/',
        'pkgname': 'timezone',
    },

} %}

{% set confmap = map.get(grains.os_family) %}
