[Unit]
Description=Testsuite HTTP Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/spacewalk/testsuite
ExecStart=/usr/bin/python3 -m http.server
Restart=on-abort

[Install]
WantedBy=multi-user.target
