name: Mirror update notification

on:
  pull_request:
    branches:
      - master
    paths:
      - backend_modules/libvirt/base/main.tf

jobs:
  check-image-urls:
    name: Check updated image URLs
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5.0.1
      with:
        fetch-depth: 2
    - name: Find modified image URLs
      run: |
        echo "IMAGE_LIST<<EOF" >> $GITHUB_ENV

        git diff -p -U0 --no-color --diff-filter=M -G"\{var\.mirror\}" \
          ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }} \
          -- backend_modules/libvirt/base/main.tf | \
          grep "^[+-] " | sed 's/^[+-]\s*\([^ ]*\).*$/ - `\1`/' | uniq >> $GITHUB_ENV

        echo "EOF" >> $GITHUB_ENV
    - name: Comment on the pull request
      uses: actions-cool/maintain-one-comment@4b2dbf086015f892dcb5e8c1106f5fccd6c1476b # v3.2.0
      with:
        delete: ${{ !env.IMAGE_LIST }}
        body: |
          This pull request updates the URLs of the following images:
          ${{ env.IMAGE_LIST }}

          Please consider updating the CI and BV mirror configurations accordingly.
